In [83]:
import pandas as pd

In [84]:
employee = r'C:\Users\SanthoshS\Desktop\DataEngineering\DataWarehouse\core_schema\dim_employee.csv'
course = r'C:\Users\SanthoshS\Desktop\DataEngineering\DataWarehouse\core_schema\dim_course.csv'
enroll = r'C:\Users\SanthoshS\Desktop\DataEngineering\DataWarehouse\core_schema\fact_enroll.csv'

In [85]:
employee = pd.read_csv(employee)
course = pd.read_csv(course)
enroll = pd.read_csv(enroll)

In [86]:
employee.shape

(500, 10)

In [87]:
enroll.shape

(20000, 8)

In [88]:
employee.shape

(500, 10)

In [95]:
import pandas as pd

# Assuming you already have the DataFrames: enroll, course, and employee

# First left join with course DataFrame
curated = enroll.merge(course, on='course_id', how='left')
# Then left join with employee DataFrame
curated = curated.merge(employee, on='employee_id', how='left')

In [90]:
curated.isna().sum()

enrollment_id       0
employee_id         0
course_id           0
enrolled_date       0
completed_date      0
progress            0
ratings             0
category            0
course_name         0
course_duration     0
price               0
outcome_skill       0
role_outcome        0
employee_name       0
current_role        0
skills              0
dateofbirth         0
dateofjoining       0
email               0
mobile_number       0
Address             0
yearofexperience    0
dtype: int64

In [91]:
curated.dtypes

enrollment_id         int64
employee_id           int64
course_id             int64
enrolled_date        object
completed_date       object
progress              int64
ratings             float64
category             object
course_name          object
course_duration       int64
price                 int64
outcome_skill        object
role_outcome         object
employee_name        object
current_role         object
skills               object
dateofbirth          object
dateofjoining        object
email                object
mobile_number         int64
Address              object
yearofexperience      int64
dtype: object

In [92]:
curated.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36812 entries, 0 to 36811
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   enrollment_id     36812 non-null  int64
 1   employee_id       36812 non-null  int64
 2   course_id         36812 non-null  int64
 3   enrolled_date     36812 non-null  object
 4   completed_date    36812 non-null  object
 5   progress          36812 non-null  int64
 6   ratings           36812 non-null  float64
 7   category          36812 non-null  object
 8   course_name       36812 non-null  object
 9   course_duration   36812 non-null  int64
 10  price             36812 non-null  int64
 11  outcome_skill     36812 non-null  object
 12  role_outcome      36812 non-null  object
 13  employee_name     36812 non-null  object
 14  current_role      36812 non-null  object
 15  skills            36812 non-null  object
 16  dateofbirth       36812 non-null  object
 17  dateofjoining     36812 non-null  object
 18  email             36812 non-null  object
 19  mobile_number     36812 non-null  int64
 20  Address           36812 non-null  object
 21  yearofexperience  36812 non-null  int64
dtypes: float64(1), int64(8), object(13)
memory usage: 6.2+ MB

In [93]:
curated.columns

Index(['enrollment_id', 'employee_id', 'course_id', 'enrolled_date',
       'completed_date', 'progress', 'ratings', 'category', 'course_name',
       'course_duration', 'price', 'outcome_skill', 'role_outcome',
       'employee_name', 'current_role', 'skills', 'dateofbirth',
       'dateofjoining', 'email', 'mobile_number', 'Address',
       'yearofexperience'],
      dtype='object')

In [94]:
curated.to_csv("curated.csv",index=False)