In [8]:
import pandas as pd
file_path = r'C:\Users\SanthoshS\Desktop\DataEngineering\Data Extraction\course_enrollment_data.csv'
enroll = pd.read_csv(file_path)
enroll.head()

,enrollment_id,employee_id,course_id,enrolled_date,completed_date,progress,ratings,feedback
0,1,255,5,2024-08-29,2024-10-07,59,1.7,I would not recommend this course.
1,2,391,4,2024-05-11,2024-09-26,0,4.8,The materials provided were very helpful.
2,3,384,3,2023-01-11,2023-03-13,83,3.0,The course met my expectations.
3,4,141,8,2023-07-09,2023-08-21,59,3.8,"Not much to say, it was a standard course."
4,5,163,5,2022-12-29,2023-02-25,64,3.5,"Not much to say, it was a standard course."

In [9]:
enroll.to_csv("raw_enroll.csv",index=False)