In [26]:
import pandas as pd

In [27]:
file_path = r'C:\Users\SanthoshS\Desktop\DataEngineering\DataWarehouse\prep_schema\prep_enroll.csv'
enroll = pd.read_csv(file_path)
enroll.head()

,enrollment_id,employee_id,course_id,enrolled_date,completed_date,progress,ratings,feedback
0,1,255,5,2024-08-29,2024-10-07,59,1.7,I would not recommend this course.
1,2,391,4,2024-05-11,2024-09-26,0,4.8,The materials provided were very helpful.
2,3,384,3,2023-01-11,2023-03-13,83,3.0,The course met my expectations.
3,4,141,8,2023-07-09,2023-08-21,59,3.8,"Not much to say, it was a standard course."
4,5,163,5,2022-12-29,2023-02-25,64,3.5,"Not much to say, it was a standard course."

In [28]:
enroll['feedback'].head()

0            I would not recommend this course.
1     The materials provided were very helpful.
2               The course met my expectations.
3    Not much to say, it was a standard course.
4    Not much to say, it was a standard course.
Name: feedback, dtype: object

In [29]:
import pandas as pd
from textblob import TextBlob



# Function to categorize feedback using TextBlob
def categorize_feedback(feedback):
    analysis = TextBlob(feedback)
    # Classify based on polarity
    if analysis.sentiment.polarity > 0:
        return "Positive"
    elif analysis.sentiment.polarity < 0:
        return "Negative"
    else:
        return "Neutral"

# Apply categorization
enroll['category'] = enroll['feedback'].apply(categorize_feedback)

# Display the categorized feedback
print(enroll)

       enrollment_id  employee_id  course_id enrolled_date completed_date  \
0                  1          255          5    2024-08-29     2024-10-07
1                  2          391          4    2024-05-11     2024-09-26
2                  3          384          3    2023-01-11     2023-03-13
3                  4          141          8    2023-07-09     2023-08-21
4                  5          163          5    2022-12-29     2023-02-25
...              ...          ...        ...           ...            ...
19995          19996          384         16    2023-09-22     2023-10-30
19996          19997          179         14    2023-02-17     2023-04-20
19997          19998          178         22    2024-06-11     2024-08-31
19998          19999          137         19    2023-06-17     2023-11-06
19999          20000          285         20    2023-05-19     2023-11-11

       progress  ratings                                    feedback  category
0            59      1.7          I would not recommend this course.   Neutral
1             0      4.8   The materials provided were very helpful.  Positive
2            83      3.0             The course met my expectations.   Neutral
3            59      3.8  Not much to say, it was a standard course.  Negative
4            64      3.5  Not much to say, it was a standard course.  Negative
...         ...      ...                                         ...       ...
19995        19      2.3     Not worth the time, very disappointing.  Negative
19996        65      3.6             The course met my expectations.   Neutral
19997        76      3.5    Average course with some useful content.  Positive
19998        22      1.7          I would not recommend this course.   Neutral
19999        76      4.0       Very informative and well structured.  Positive

[20000 rows x 9 columns]

In [30]:
enroll.drop('feedback', axis=1, inplace=True)

In [31]:
enroll.to_csv("fact_enroll.csv", index=False)