In [13]:
import numpy as np
import pandas as pd

In [14]:
file_path = r'C:\Users\SanthoshS\Desktop\DataEngineering\DataWarehouse\prep_schema\prep_course.csv'
course = pd.read_csv(file_path)
course.head()

,course_id,course_name,course_duration,price,outcome_skill,role_outcome
0,1,Introduction to Data Science,10,1603,Python,junior data scientist
1,2,Python for Data Science,8,1763,Data Visualization,junior data scientist
2,3,Data Analysis with Pandas,4,1949,Python,junior data scientist
3,4,Advanced Machine Learning,4,470,TensorFlow,senior data scientist
4,5,Deep Learning Specialization,9,1358,Natural Language Processing,senior data scientist

In [15]:
course.to_csv("dim_course.csv", index=False)